:root{
--main-color :rgb(143, 163, 146);
--lighter-main-color:rgb(177, 205, 181);
--light-orange:rgb(255, 231, 189);
--main-text:rgb(79, 114, 80);
--secondary-text:rgb(249, 246, 238);
}
body{
    margin:0;
}
#mainbody{
margin:0;
display: grid;
grid-auto-flow: column;

}
h1{
    color:var(--main-text);
    font-family: Manrope;
}
section{
    border: solid 2px var(--main-color);
    height: 100vh;
}
button{
    background:transparent;
    border:none;
    font-size: 16px;
    color:var(--secondary-text);
    cursor: pointer;
    outline-color:var(--light-orange);
    text-align: center;
}

/* sections 1 2 3 */
#morePlaylists{
width: 25vw;
}
#playlistMainSongs{
width:35vw;
}
#titleSongButtons{
width: 40vw;
}
/* 1st section */
#currentPlaylistImgDiv{

}
#currentPlaylistImg{

}
#morePlaylistsDiv{

}
.morePlaylistsImg{

}
/* 2nd section */
#playlistTitleDiv{

}
#playlistTitle{

}
#songsDiv{
height: 100vh;
width: 35vw;
}
#songs{
overflow-y:scroll;
overflow-x:hidden;
scrollbar-color: var(--main-color);
scroll-behavior: smooth;
scrollbar-width: thin;
background-color: var(--main-color);
display:flex;
row-gap:10px;
padding: 5px 10px 0px 0px;
visibility: visible;
justify-content: start;
list-style: none;
}
.song{

}
#favButton{

}
/* 3rd section */
#titleDiv{

}
#title{

}
#songImgButtons{
display: inline;
position: relative;
justify-items: center;
}
#songCurrentImg{
z-index: -100;
position: relative;
}
#songImgButtonsControls{
    z-index: 1;
    position:absolute;
}
#previousButton{

}
#playButton{
    
}
#stopButton{

}
#nextButton{

}
#shuffleButton{

}
#repeatButton{
    
}