:root{
--main-color : rgb(60, 73, 62);
--lighter-main-color:rgb(177, 205, 181);
--light-orange:rgb(255, 231, 189);
--main-text:rgb(79, 114, 80)
}
body{
    margin:0;
}
#mainbody{
margin:0;
display: grid;
grid-auto-flow: column;
}
h1{
    color:var(--main-text);
    font-family: Manrope;
}
section{
    border: solid 2px var(--main-color);
}

/* sections 1 2 3 */
#morePlaylists{

}
#playlistMainSongs{

}
#titleSongButtons{

}
/* 1st section */
#currentPlaylistImgDiv{

}
#currentPlaylistImg{

}
#morePlaylistsDiv{

}
.morePlaylistsImg{

}
/* 2nd section */
#playlistTitleDiv{

}
#playlistTitle{

}
#songsDiv{

}
#songs{

}
.song{

}
#favButton{

}
/* 3rd section */
#titleDiv{

}
#title{

}
#songImgButtons{

}
#songCurrentImg{

}
#previousButton{

}
#playButton{
    
}
#stopButton{

}
#nextButton{

}
#shuffleButton{

}
#repeatButton{
    
}